<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <arduinoAddress>192.168.2.22</arduinoAddress>
    <maxBadRequests>20</maxBadRequests>
    <tempPinPos>1</tempPinPos>
    <tempTolerance>1.5</tempTolerance>
    <timeout>5000</timeout>
    <windowSizeWidth>1342</windowSizeWidth>
    <windowsSizeHeigth>726</windowsSizeHeigth>
    <windowsX>12</windowsX>
    <windowsY>0</windowsY>
</Settings>
